<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso. Abaixo segue as informações do seu
  registro:</p>
<p>
  <strong>Aluno: </strong> {{ studentId }} <br>
  <strong>Plano: </strong> {{ plan }} <br>
  <strong>Valor: </strong> {{ price }} <br>
  <strong>Data término: </strong> {{ end_date }} <br>
</p>

<p>A partir do dia {{ start_date }} você já pode começar seus exercicios. Seja bem vindo a família GymPoint.</p>
